* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

input {
    margin-left: 2.5px;
}

.infotext {
    font-family: "EB Garamond", serif;
}

button {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-family: "EB Garamond", serif;
    border-width: 1px;
    border-color: silver orange orange silver;
    transition: pulse 0.5s ease;
}

@media only screen and (width: 1024px) {
    body {
        font-size: 3vw;
    }
}
